{% extends 'main/shablon.html' %}

{% block title %}{{category}}{% endblock %}

{% block content %}
<h3 class="mt-5" style="text-align: center;">{{category}}</h3>
<!--Сделать фильтр-->
<div class="album py-5 bg-body-tertiary" style="margin-top: 30px">
<div class="container">
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-md-4 row-cols-md-5 row-cols-md-6 g-2">
  {% for door in page_obj %}
  <a href="{% url 'door_info' door_id=door.id %}" style="color:black; text-decoration:none;">
        <div class="col" style="min-height: 400px">
          <div class="card shadow-sm" style="min-height: 400px">
            <div style="margin: 0 auto">
              {% if door.photo_door_set.all|length == 1 and door.category_id <= 3 %}
                  {% for photo in door.photo_door_set.all %}
                <img src="{{photo.photos.url}}" style="width: 160px; height: 160px;">
                  {% endfor %}
              {% else %}
                {% for photo in door.photo_door_set.all %}
                <img src="{{photo.photos.url}}" style="width: 80px; height: 160px">
                  {% endfor %}
              {% endif%}
            </div>
            <div class="card-body">
              <p class="card-text" style="text-align: center;">{{door.title}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div style="margin: 0 auto; display: flex;gap: 5px;">
                  {% for color in door.colors_outside.iterator %}
                    <div class="text_color" style="width: 25px;height: 25px;-webkit-border-radius: 25px;-moz-border-radius: 25px;border: 2px solid white;box-shadow: var(--wvs-selected-item-box-shadow,0 0 0 2px #FFA000); border-radius: 25px;background: #{{color.code}};"></div>
                  {% endfor %}
                  {% for color in door.colors_inside.iterator %}
                    <div class="text_color" style="margin-left: 15px; width: 25px; height: 25px;-webkit-border-radius: 25px;-moz-border-radius: 25px;border: 2px solid white;box-shadow: var(--wvs-selected-item-box-shadow,0 0 0 2px #FFA000); border-radius: 25px;background: #{{color.code}};"></div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
       </div>
  </a>
  {%endfor%}
</div>
</div>
</div>
{% endblock %}