{% extends 'main/shablon.html' %}

{% block title %}{{category}}{% endblock %}

{% block headers %}
<div class="fixed-top" style="box-shadow: 65px 0 70px #e4e6eb;background:white">
    <div class="top-data-info" style="display: flex;justify-content: center;align-items: center;gap: 30px;height: 50px;">
        <p>Воскресенск, Московская область, 2-я Заводская улица, 6с2</p>
        <p>Ежедневно с 9:00 до 18:00</p>
        <div class="сontact_phone" style="display: flex;">
            <p><a href="tel:79256213239">+79256213239</a></p>
            <p style="color: white">.....</p>
            <p><a href="tel:79255112367">+79255112367</a></p>
        </div>
    </div>
    <div style="display: flex;height: 90px;justify-content: space-between;text-align: center;">
        <div style="color: #FFF;font-family: Inter;font-size: 32px;font-style: normal;font-weight: 400;line-height: normal;width:68px"></div>
        <a href="/" style="text-decoration: none;color: black;display: flex;"><h1 class="text-center" style="display: flex;justify-content: center;align-content: center;flex-direction: column;">Двери Вос</h1></a>
        <button class="btn btn-secondary" style="height: 50px; display: flex; align-self: center" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
            </svg>
        </button>
    </div>
</div>
{% endblock %}

{% block content %}
<h3 class="mt-5" style="text-align: center;">{{category}}</h3>
<!--Сделать фильтр-->
<div class="album py-5 bg-body-tertiary" style="margin-top: 40px">
<div class="container">
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-md-4 row-cols-md-5 row-cols-md-6 g-2">
  {% for door in doors %}
  <a href="{% url 'door_info' door_id=door.id %}" style="color:black; text-decoration:none;">
        <div class="col" style="min-height: 400px">
          <div class="card shadow-sm" style="min-height: 400px">
            <div style="margin: 0 auto">
              {% if door.photo_door_set.all|length == 1 and door.category_id <= 3 %}
                  {% for photo in door.photo_door_set.all %}
                <img src="{{photo.photos.url}}" style="width: 160px; height: 160px;">
                  {% endfor %}
              {% else %}
                {% for photo in door.photo_door_set.all %}
                <img src="{{photo.photos.url}}" style="width: 80px; height: 160px">
                  {% endfor %}
              {% endif%}
            </div>
            <div class="card-body">
              <p class="card-text" style="text-align: center;">{{door.title}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div style="margin: 0 auto; display: flex;gap: 5px;">
                  {% for color in door.colors_outside.iterator %}
                    <div class="text_color" style="width: 25px;height: 25px;-webkit-border-radius: 25px;-moz-border-radius: 25px;border: 2px solid white;box-shadow: var(--wvs-selected-item-box-shadow,0 0 0 2px #FFA000); border-radius: 25px;background: #{{color.code}};"></div>
                  {% endfor %}
                  {% for color in door.colors_inside.iterator %}
                    <div class="text_color" style="margin-left: 15px; width: 25px; height: 25px;-webkit-border-radius: 25px;-moz-border-radius: 25px;border: 2px solid white;box-shadow: var(--wvs-selected-item-box-shadow,0 0 0 2px #FFA000); border-radius: 25px;background: #{{color.code}};"></div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
       </div>
  </a>
  {%endfor%}
</div>
</div>
</div>
{% endblock %}