{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
	<link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/sidebars/">
<!--	<link href="https://getbootstrap.com/docs/5.3/examples/sidebars/sidebars.css" rel="stylesheet">-->
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'main/img/logo_title.png' %}"/>

</head>
<body>
<div class='container-fluid'>
<div class='row'>
<div class="offcanvas offcanvas-start" style="max-width: 350px" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
  <div class="offcanvas-header">
    <a href="/" class="d-flex align-items-center pb-2 mb-1 link-body-emphasis text-decoration-none border-bottom">
      <span class="fs-5 fw-semibold"><img src="/static/main/img/logo.JPG"></span>
    </a>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="list-unstyled ps-0">
      <li class="mb-1">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
          Входные двери
        </button>
        <div class="collapse" id="home-collapse" style="">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="/assortment/apartament" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Двери для квартиры</a></li>
            <li><a href="/assortment/entrance_thermal" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Двери с терморазрывом</a></li>
<!--            <li><a href="/assortment/1" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Двери для дома</a></li>-->
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
          Межкомнатные двери
        </button>
        <div class="collapse" id="dashboard-collapse" style="">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="/assortment/interior" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Межкомнатные двери</a></li>
          </ul>
        </div>
      </li>
<!--      <li class="mb-1">-->
<!--        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">-->
<!--          Фурнитура-->
<!--        </button>-->
<!--        <div class="collapse" id="orders-collapse" style="">-->
<!--          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">-->
<!--            <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">...</a></li>-->
<!--            <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">...</a></li>-->
<!--            <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">...</a></li>-->
<!--            <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">....</a></li>-->
<!--          </ul>-->
<!--        </div>-->
<!--      </li>-->
    </ul>
  </div>
</div>
<div class="main_window" style="display: flex; flex-direction: column">
{% block headers %}
{% endblock %}
<main class="px-md-4 pt-3">
    <br>
    <br>
    <br>
    <br>
    <br>
    {% block content %}
    {% endblock %}
</main>
</div>
</div>
</div>
</body>
</html>


