{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
	<link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/sidebars/">
<!--	<link href="https://getbootstrap.com/docs/5.3/examples/sidebars/sidebars.css" rel="stylesheet">-->
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'main/img/logo_title.png' %}"/>

</head>
<body>
<div class='container-fluid'>
<div class='row'>
<nav class="sidebar col-md-3 col-lg-2 p-0 ">
	<div style="width: 100%;">
    <a href="/" class="d-flex align-items-center pb-3 mb-3 link-body-emphasis text-decoration-none border-bottom">
      <svg class="bi pe-none me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-5 fw-semibold"><img src="/static/main/img/logo.JPG"></span>
    </a>
    <ul class="list-unstyled ps-0">
      <li class="mb-1">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
          Входные двери
        </button>
        <div class="collapse" id="home-collapse" style="">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="/assortment/2" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Двери для квартиры</a></li>
<!--            <li><a href="/assortment/1" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Двери для дома</a></li>-->
            <li><a href="/assortment/3" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Двери с терморазрывом</a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
          Межкомнатные двери
        </button>
        <div class="collapse" id="dashboard-collapse" style="">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="/assortment/4" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Межкомнатные двери</a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
          Фурнитура
        </button>
        <div class="collapse" id="orders-collapse" style="">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">...</a></li>
            <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">...</a></li>
            <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">...</a></li>
            <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">....</a></li>
          </ul>
        </div>
      </li>
    </ul>
        <button onclick="document.querySelector('.sidebar').style.display='none'">X</button>
  </div>
</nav>
<div class="main_window" style="display: flex; flex-direction: column">
<div class="col-md-9 ms-sm-auto col-lg-10 px-md-4 pt-3 fixed-top" style="box-shadow: 65px 0 70px #e4e6eb;background:white">
    <div style="display: flex;justify-content: center;align-items: center;gap: 30px;height: 30px;">
        <p>Воскресенск, Московская область, 2-я Заводская улица, 6с2</p>
        <p>Ежедневно с 9:00 до 18:00</p>
        <div class="сontact_phone" style="display: flex;">
            <p><a href="tel:79256213239">+79256213239</a></p>
            <p style="color: white">.....</p>
            <p><a href="tel:79255112367">+79255112367</a></p>
        </div>
    </div>
    <div style="display: flex;height: 90px;justify-content: space-between;text-align: center;">
        <button onclick="document.querySelector('.sidebar').style.display='flex'" style="height: 68px;justify-content: center;display: flex;align-self: center;align-items: center;">меню</button>
        <h1 class="text-center" style="display: flex;justify-content: center;align-content: center;flex-direction: column;">Двери Вос</h1>
        <div style="color: #FFF;font-family: Inter;font-size: 32px;font-style: normal;font-weight: 400;line-height: normal;width:68px"></div>
    </div>
</div>
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 pt-3">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    {% block content %}
    {% endblock %}
</main>
</div>
</div>
</div>
</body>
</html>


